<section class="container">
  <article class="site-heading text-align-center">
    <h1>Sign Up</h1>
  </article>
  <article class="site-form-wrapper p-xsmall-top-2 p-xsmall-bottom-2 p-small-top-4 p-small-bottom-4">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-control">
        <%= f.input :name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "name" } %>
      </div>
      <div class="form-control">
        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "username" }%>
      </div>
      <div class="form-control">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
      </div>
      <div class="form-control">
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-control">
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="actions">
        <%= f.button :submit, "Sign up", { class: "button default primary m-xsmall-top-1 elevated-item"} %>
      </div>
    <% end %>
  </article>
  <article class="site-back-links text-align-center">
    <%= render "devise/shared/links" %>
  </article>
</section>
