<section class="container">
  <article class="site-heading text-align-center">
    <h1>Log in</h1>
  </article>
  <article class="site-form-wrapper p-xsmall-top-2 p-xsmall-bottom-2 p-small-top-4 p-small-bottom-4">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-control">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>
      <div class="form-control">
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
      </div>
      <div class="form-checkbox-control">
        <%= f.input_field :remember_me, inline_label: 'Remember me?', as: :boolean if devise_mapping.rememberable?
        %>
      </div>

      <div class="actions">
        <%= f.button :submit, "Log in", { class: "button default primary m-xsmall-top-1 elevated-item"} %>
      </div>
    <% end %>
  </article>
  <article class="site-back-links text-align-center">
    <%= render "devise/shared/links" %>
  </article>
</section>



