<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, :value => current_user.id %>

  <div class="form-control">
    <%= form.label :name, "Product Name" %>
    <%= form.text_field :name %>
  </div>

  <div class="form-control">
    <%= form.label :product_type, "Product Type" %>
    <div class="form-select-wrapper">
      <%= form.select :product_type, @types %>
      <div class="form-select__icon fa fa-chevron-down"></div>
    </div>
  </div>

  <div class="form-control">
    <%= form.label :description, "Product Description" %>
    <%= form.rich_text_area :description %>
  </div>

  <div class="form-control">
    <%= form.label :image, "Product Image" %>
    <%= form.file_field :image %>
  </div>

  <div class="form-control">
    <%= form.label :price, "Product Price" %>
    <%= form.number_field :price, { "value" => 5.00 } %>
  </div>

  <div class="actions">
    <%= form.submit "Save Dat Deliciousness", { "class" => "button default primary m-xsmall-top-1 elevated-item"} %>
  </div>
<% end %>
