<section class="container">
  <article class="page-heading">
    <h1>Products Page</h1>
  </article>
  <section class="product-listings">
    <% @products.each do |product| %>
    <article
      class="product-listing"
      data-id="<%= product.id %>"
      data-slug="<%= product.slug %>"
      data-type="<%= product.product_type %>"
      data-user="<%= User.find(product.user_id).username %>"
      >
      <figure
        class="product-listing__image"
        style="background-image: url(<%= product.image_url(:thumb) %>)">
      </figure>
      <section class="product-listing__text">
        <h3 class="product-listing-text__name m-xsmall-bottom-1">
          <%= product.name %>
        </h3>
        <div class="product-listing-text__price m-xsmall-bottom-1">
          <%= number_to_currency(product.price) %>
        </div>
        <div class="product-listing-text__actions">
          <%= link_to 'Show', product %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </section>
    </article>
    <% end %>
  </section>
  <section class="site-links-wrapper m-xsmall-top-3">
    <%= link_to 'New Product', new_product_path, { class: "button default primary"} %>
  </section>
</section>




<%#

 %>
