<div class="container product-page__container">
  <section class="grid-pd-summary">
    <figure
      class="product-page__image grid-item-pd-image"
      style="background-image: url(<%= @product.image_url(:pd) %>)"
      >
    </figure>
    <article class="product-page__details grid-item-pd-details text-align-center">

      <div class="product-page__heading">
        <h1><%= @product.name %> <%= @product.product_type %></h1>
      </div>

      <div class="product-page__price m-xsmall-top-1">
        <p class="product-price">
          <em>
            <%= number_to_currency(@product.price) %>
          </em>
        </p>
      </div>

      <div class="product-page__description m-xsmall-top-1">
        <p>
          <%= @product.description %>
        </p>
      </div>
      <div class="product-page__add-to-cart m-xsmall-top-3">
        <%= form_with(
              method: 'post',
              url: add_to_cart_path(@product.id),
              class: "product-page-add-to-cart-form"
              ) do |f| %>
            <%= f.hidden_field :user_id, { value: current_user.id } %>
            <%= f.hidden_field :line_item_product_id, { value: @product.id } %>
          <div class="form-control">
            <%= f.label :line_item_quantity, "Quantity" %>
            <%= f.number_field :line_item_quantity, { min: 1, max: 30, value: 1} %>
          </div>
          <div class="form-control">
            <button class="button primary default" type="submit">
              Add to Cart
            </button>
          </div>
        <% end %>
      </div>
    </article>
  </section>

</div>
